[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
scikit-learn = "*"
tensorflow = "*"
transformers = "*"
torch = "*"
pillow = "*"
opencv-python = "*"
psutil = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.12"
